div.menu {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  > div.left {
    width: 180px;
    height: inherit;
    float: left;
    position: relative;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover > div {
      display: block;
    }
    > p {
      font-size: 12px;
      font-family: "iranYekan";
      color: #3f4064;
    }
    > div {
      border-radius: 4px;
      width: inherit;
      height: inherit;
      background-color: #3f4064;
      border: 1px solid #23254e;
      color: #fff;
      position: absolute;
      top: 40px;
      left: 0;
      text-align: center;
      display: none;
      > p {
        font-size: 12px;
        font-family: "iranYekan";
        line-height: 40px;
      }
    }
  }
  >div.right{
    width: auto;
    height: inherit;
    float: right;
    display: flex;
    column-gap: 25px;
    justify-content: flex-end;
    align-items: center;
    >div.extra{
      width: inherit;
      height: inherit;
      display: flex;
      column-gap: 25px;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      font-family: "iranYekan";
      color: #5A5C7A;
      >div{
        width: inherit;
        height: inherit;
        position: relative;
        display: flex;
        column-gap: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::after{
          content: '';
          width: 0;
          height: 2px;
          background-color: red;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: 300ms;
        }
        &:hover::after{
          width: 100%;
        }
        >span{
          font-weight: 500;
        }
      }
      
      >div:nth-of-type(2){
        >span{
          width: 1px;
          height: 16px;
          background-color: #d5d5d9;
        }
      }
      >div:nth-of-type(6){
        >span:nth-of-type(2){
          width: 1px;
          height: 16px;
          background-color: #d5d5d9;
          margin-left: 5px;
        }
      }
      
    }
    >div.productSelection{
      width: inherit;
      height: inherit;
      display: flex;
      position: relative;
      column-gap: 6px;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      cursor: pointer;
      font-family: "iranYekanBold";
      color: #3F4064;
      &::after{
        content: '';
        width: 0;
        height: 2px;
        background-color: red;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 300ms;
      }
      &:hover::after{
        width: 100%;
      }
    }
  }
}

div.cityOverlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;
  transition: 300ms;
  >nav{
    width: 30vw;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
    border-radius: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    >div{
      width: 100%;
      margin-bottom: 1px;
      padding: 15px 20px;
      border-bottom: 1px solid#e7eaee;
      cursor: pointer;
      >span{
        float: left;
      }
      >p{
        float: right;
        font-size: 16px;
        font-family: "iranYekanBold";
        color: #3F4064;
      }
    }
    >div:nth-of-type(1){
      font-size: 20px;
      border: unset;
      font-family: "iranYekanBold";
      padding-top: 20px;
      font-weight: 700;
      margin-bottom: 5px;
      >span{
        cursor: pointer;
      }
    }
    >div:nth-of-type(2){
      width: 90%;
      border: unset;
      background-color: #e8ecf1;
      margin: 0 auto;
      padding: 1px;
    }
    >div:nth-of-type(3){
      padding: 30px;
      >p{
        color: #19BFD3;
        font-size: 15px;
      }
      >span{
        display: inline-block;
        margin-left: 10px;
        font-size: 30px;
      }
    }
  }
}
.active{
  display: block !important; 
}
